[hidden] {
    display: none !important;
  }
  
  @media only screen and (max-width: 991.98px) {
    .stackable.grid .ui.vertical.divider {
      display: none !important;
    }
  }
  
  a.ui {
    color: #4183c4;
    text-decoration: none;
  }
  a.ui:hover {
    color: #1e70bf;
    text-decoration: none;
  }
  
  .free.container,
  .v-container--free {
    width: 100vw !important;
    max-width: none;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
  }
  
  [data-relative] {
    position: relative;
  }
  
  [data-static] {
    position: static;
  }
  
  [data-absolute] {
    position: absolute;
  }
  
  [data-fixed] {
    position: fixed;
  }
  
  #kosmos3,
  #kosmos3 > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  
  #kosmos3 > div > div {
    position: relative;
    pointer-events: auto;
    margin: auto;
    max-width: 100%;
  }
  
  #kosmos3 > .position-absolute > #content,
  #kosmos3 > .position-fixed > #content,
  #kosmos3 > [data-absolute] > #content,
  #kosmos3 > [data-fixed] > #content {
    overflow-y: auto;
  }
  
  /*****************************************************/
  
  /*
  * For rendering images inserted using the image plugin.
  * Includes image captions using the HTML5 figure element.
  */
  
  figure.image {
    display: inline-block;
    border: 1px solid gray;
    margin: 0 2px 0 1px;
    background: #f5f2f0;
  }
  
  figure.align-left {
    float: left;
  }
  
  figure.align-right {
    float: right;
  }
  
  figure.image img {
    margin: 8px 8px 0 8px;
  }
  
  figure.image figcaption {
    margin: 6px 8px 6px 8px;
    text-align: center;
  }
  
  /*
   Alignment using classes rather than inline styles
   check out the "formats" option
  */
  
  img.align-left {
    float: left;
  }
  
  img.align-right {
    float: right;
  }
  